body{
margin: 0;
padding: 0;
background: rgba(255, 0, 0, 0.315);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(60px);

}


input{
    width: 2%;
    height: 2%;
}
td{
    margin: 0;
    padding: 0;
}

.tudinho{
    margin-left: 5%;
}

.flash{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20%;
    top: 10%;
    width: 100%;
}

#ipt_letra1_p9{
    position: absolute;
    top: 16.5%;
    
    left: 14.8%;
    height: 2.4%;   
}

#ipt_letra2_p9{
    position: absolute;
    left: 17.4%;
    top: 16.5%;
    height: 2.4%;
}

/* #ipt_letra1_p15{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 14.8%;
    top: 19.9%;
}
 */#ipt_letra2_p15{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 14.8%;
    top: 19.8%;
}
/* #ipt_letra3_p15{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 14.8%;
    top: 26.8%;
} */ 
#ipt_letra4_p15{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 14.8%;
    top: 22.8%;
}
#ipt_letra5_p15{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 14.8%;
    top: 25.8%;
}
#ipt_letra6_p15{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 14.8%;
    top: 28.7%;
}
#ipt_letra7_p15{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 14.8%;
    top: 31.7%;
}
#ipt_letra1_p2{
    position: absolute;
    left: 9.7%;
    top: 22.8%;
}
#ipt_letra2_p2{
    position: absolute;
    left: 12.2%;
    top: 22.8%
}
#ipt_letra1_p5{
    position: absolute;
    left: 12.2%;
    top: 31.8%;
}
#ipt_letra2_p5{
    position: absolute;
    left: 17.4%;
    top: 31.8%;
}
#ipt_letra1_p3{

}
#ipt_letra2_p3{

}
#ipt_letra3_p3{

}
#ipt_letra4_p3{

}
#ipt_letra5_p3{
    
}
